body {
    width: 100%;
    overflow-x: hidden;

    background: linear-gradient(#000000,#000036);
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;

}
header{
    position: relative;
    top: -45vh;
    left: 39vw;

    font-size: 2.7em;
}
.Container{
    display: grid;
    position: relative;

    top: 30vh;
    left: 17vw;


    grid-template-areas: 
    "Img1 Img2"
    "Text1 Text2" 
    ;

    align-items: center;
    justify-items: center;
    width: 65vw;
    height: 50vh;
}
.PIcon{
    height: 20vh;
    width: auto;

    margin-bottom: 2vh;
    transition: all 0.2s;
}
.PIcon:hover{
    scale: 1.02;
}
.PIcon:active{
    scale: 0.9;
}
.PageLabel{
    font-size: 2em;
}
#PageLabel1{
    position: relative;
    left: 1.3vw;
    grid-area: Text1;
}
#PageLabel2{
    position: relative;
    left: 1vw;
    grid-area: Text2;
}
#PIcon1{
    grid-area: Img1;
}
#PIcon2{
    margin-left: 1vw;
    grid-area: Img2;
}
