body{
    width: 100%;
    overflow: hidden;

    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin:0;   
}

.BigContainer{
     display: grid;

     
     grid-template-columns: repeat(5, 20vw);
     grid-template-rows: auto;

     height: 99vh;
     width:  99.6vw;

     border: solid black;
}
.GridCell{
    border: ridge black;
    background-color: none;

    transition: all 0.25s;
}
.GridCell:hover{
    scale: 1.05;
}
.GridCell:active{
    scale: 0.90;
}

