body {
    background-color: #3e3c3c;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family:Helvetica, sans-serif;
    
    margin: 0;
}
.Container {
    display: grid;
    grid-template-areas: 
    "T  T2  T3"
    "I  O   P"
    "B  N   M"
    ;

    position: fixed;

    height: 98.5vh;
    width: 98.8vw;
    border: double .5em #525151;

    grid-auto-flow: row;

}
#BP1{
    grid-area: T;
}
#BP2{
    grid-area: T2;
}
#BP3{
    grid-area: T3;
}
#BP4{
    grid-area: I;
}
#BP5{
    grid-area: O;
}
#BP6{
    grid-area: P;
}
#BP7{
    grid-area: B;
}
#BP8{
    grid-area: N;
}
#BP9{
    grid-area: M;
}
.Box{
    background-color: #ffffff;
    border: solid .4em #101010;

    transition: all 0.2s;
}
.Box:hover{
    scale: 1.02;
}
.Box:active{
    scale: .9;

}
